#ground {
    position: relative;

    width: 80%;
    height: 100%;
    
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#mid{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    background-color: yellow;
    border: 5px solid rgba(56, 93, 138, 1);
    padding: 30px;
}

.user{
    position: absolute;
}
.user:nth-child(2) {
    left: 0;
}
.user:nth-child(3) {
    top: 0
}
.user:nth-child(4) {
    right: 0;
}
.user:nth-child(5) {
    bottom: 0;
}
.user:nth-child(5) .user__hand__card{
    width: 105px;
    height: 150px;
}

.user__hand{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EEEEEE;
}
.user__profile{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;

    background-color: #BBBBBB;
}
.user__profile__image{
    height: 100%;
}
.user__profile__infomation{
    font-size: 1.2em;
    margin-left: 20px;
}
.user__hand__card{
    width: 70px;
    height: 100px;

    margin: 10px;

    background-color: #000000;
}