* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

button{
    background-color: rgba(51, 51, 255, 1);
    color: white;
    font-size: 2em;
    font-weight: bold;
    border: none;
    padding: 5px;

    width: 100%;
}

body {
    background-image: url("img/bg_image.gif");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    min-width: 1200px;
    height: 800px;

    background-color: rgba(214, 226, 246, 1);
    border: 5px solid rgba(56, 93, 138, 1);

    display: flex;
}

#menu {
    width: 20%;
    height: 100%;

    padding:20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__bundle{
    width: 100%;

    display: flex;
    padding: 10px;
    margin-top: 10px;

    background-color: rgba(253, 245, 218, 1);
    border: 5px solid rgba(56, 93, 138, 1);
}
.small__button{
    margin: 5px;
    font-size: 1.5em;
}
.menu__result{
    margin: 15px 0;
    list-style: none;
}
#game__end{
    margin-top: 10px;
}